* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  border: none;
}

body {
  max-width: 1920px;
  margin: auto;
}
#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.9);
}
ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.top-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-1 b {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  color: #274c5b;
}
a {
  text-decoration: none;
  color: #274c5b;
  font-weight: 550;
  font-size: 15px;
}
.top-3 {
  width: 200px;
  height: 45px;
  background: #fafafa;
  border-radius: 36px;
  position: relative;
  display: flex;
}
.top-3 .search {
  position: absolute;
  right: 2%;
}
.none {
  display: none;
}
.top-4 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 120px;
  padding-top: 2px;
  gap: 5px;
  height: 45px;
  border: 1px solid #e0e0e0;
  border-radius: 33px;
}
.top-4 p {
  color: #274c5b;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  font-weight: 550;
}
.nav-bar-top-3 {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
#shop-sec-2 {
  background-image: url("./images/servicebanner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop-middle {
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  color: #274c5b;
}

.Contact {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #274c5b;
  font-family: "Roboto";
}
.info {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #525c60;
  padding-top: 15px;
}
.last-last {
  padding-bottom: 20px;
}
.get-out {
  text-align: right;
  padding-right: 30px;
  border-right: 1px solid #d5d5d5;
}
.get-out-2 {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #d5d5d5;
  padding-right: 30px;
  justify-content: flex-start;
}
.whala {
  display: flex;
  padding-top: 45px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.same {
  background: #eff6f1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 20px;
}
.Yellowtail {
  font-family: "Yellowtail", cursive;
  color: #68a47f;
  font-size: 25px;

  font-style: normal;
  font-weight: 400;
}
.accredited {
  font-family: "Roboto", sans-serif;
  color: #274c5b;
  font-weight: 700;
  font-size: 30px;
  max-width: 306px;
  padding-top: 8px;
}
.Dairy {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  color: #274c5b;
  font-family: "Roboto", sans-serif;
}
.simply {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  max-width: 327px;
  padding-top: 8px;
  color: #525c60;
}
.Explore {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 16px;
  border: 2px solid #335b6b;
  gap: 10px;
}
.right {
  text-align: right;
  padding-bottom: 10px;
}
#service {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-left: 10px;
  gap: 30px;
}
#service-last {
    background-image: url("./images/servicedown.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 70px);
}
.out {
  display: block;
}
.show {
  list-style-type: none;
  display: flex;
  gap: 20px;
  flex-direction: column;
  background-color: #f9f8f8;
  padding: 10px;
}
.open {
  display: none;
}

.open.shower {
  display: flex;
  position: absolute;
  top: 80px;
}

@media screen and (max-width: 1024px) {
  .none {
    display: block;
  }
  li {
    display: none;
  }
}
@media (max-width: 655px) {
  .top-3 {
    display: none;
  }
  .top-4 {
    display: none;
  }
  .none {
    display: block;
  }
  .sub {
    max-width: none;
    padding-bottom: 20px;
  }
  .whala {
    padding-top: 18px;
  }
}
@media (max-width: 1170px) {
  .pea {
    display: none;
  }
  .right {
    text-align: left;
  }
}
@media (max-width: 480px) {
  .down-last {
    width: 100%;
  }
}
@media (max-width: 960px) {
  .get-out {
    border: none;
    text-align: left;
    padding-left: 20px;
  }
  .get-out-2 {
    border: none;
  }
}
@media (max-width: 400px) {
  .get-out-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
